@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website uses Reddit's API and the StackOverflow's CSS.</p>
<p>It is designed so that you can browse reddit without getting caught by your boss.</p>
<p>I do not take any responsibility in case you get fired.</p>
