@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Antoine Delia</strong> <br />
    <strong>Phone:</strong> +33 (0)6 24 74 80 01 <br />
    <strong>Email:</strong> <a href="mailto:antoine.delia@gmail.com">antoine.delia@gmail.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/antoinedelia/">antoinedelia</a>
</address>